<!DOCTYPE html>
<html></html>
<html lang="fr">

	<head>

		{% block title %}Addict Beauty
		{% endblock %}

		{% block stylesheets %}
			<link rel="stylesheet" href="asset/scss/index.scss">
			<link rel="stylesheet" href="asset/scss/Biographie.scss">
			<link rel="stylesheet" href="asset/scss/Contact.scss">
			<link rel="stylesheet" href="asset/scss/404.scss">

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
			<link href="https://fonts.googleapis.com/css?family=Julius+Sans+Onedisplay=swap" rel="stylesheet">
		</head>
	{% endblock %}


	{% block body %}

		<body>
			<header>
				<nav>
					<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
						<div class="navbar-collapse">
							<div>
								<button id="buttonretour" onclick="goBack()">Addict Beauty</button>

							</div>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
						</div>

						<div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="Index.html">Lifestyle</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="bio">Biographie</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="Contact.html">Contact</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<ul class="nav navbar-nav navbar-left">
					<nav class="navbar navbar-left" role="navigation">
						<div id="ball-dropdown">
							<div class="container">
								<div class="col-1 col-sm-3 col-md-4 col-lg-4 col-xl-9">
									<a href="https://www.instagram.com/addict.beauty_/"><img src="https://img.icons8.com/nolan/30/000000/instagram-new.png" alt="Logo de reseau social"></a>
								</div>
							</div>
						</div>
					</nav>


				</ul>
			</nav>
		</body>
	</html>
</nav></header>{% endblock %}{% block javascripts %}{% endblock %}</body></html>
