{% extends 'base.html.twig' %}

{% block title %}àddict Beauty
{% endblock %}

{% block stylesheet %}


{% endblock %}

{% block body %}
	<body>
		 <header>

    <nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="navbar-collapse">
          <div>
            <button id="buttonretour" onclick="goBack()">Addict Beauty</button>

          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="Index.html">Lifestyle</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="bio">Biographie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Contact.html">Contact</a></li>
          </ul>
        </div>
        </div>
        </div>
        <!--Début--social-->
        <ul class="nav navbar-nav navbar-left">
          <nav class="navbar navbar-left" role="navigation">
            <div id="ball-dropdown">
              <div class="container">
                <div class="col-1 col-sm-3 col-md-4 col-lg-4 col-xl-9">
                  <img src="https://img.icons8.com/nolan/30/000000/instagram-new.png" alt="Logo de reseau social"></a>
                </div>
              </div>
            </div>
          </nav>
        </ul>
        <!--fin--social-->

      </nav>
    </nav>
    </nav>
    </div>
    </div>
    </div>
  </header>















  <footer class="footer">
    <i class="fas fa-mobile-android-alt"></i>
    <div class="footer-copyright text-center py-3"><a href="https://copyright.be/droit_auteur_loi_juridique.html">©</a>
      2019 Copyright Design By Nelson Caterino
    </div>
    </div>

  </footer>

  {% endblock %}